<a href="#menu" id="menuLink" class="pure-menu-link">
    <span></span>
</a>

<div class="pure-u" id="menu">
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="index.html">Boggle</a>
        <ul>
            <li class=" ">
                <a href="tech.html">Tech</a>
            </li>
            <li class=" ">
                <a href="about.html">About</a>
            </li>
         </ul>
    </div>
</div>