<div id="dict">
    <h3>Wiktionary Definition</h3>
    <p id="dict-content">This is the wiktionary entry</p>
    <div>
        <button id="close-dict" class="pure-button pure-button-primary" style="float:right">OK</button>
    </div>
</div>