
body {
    margin: 1em;
}

#word-list h2 {
    width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px;
}

#word-list h2 span {
    background:#fff; padding:0 10px;
}

.boggle-board .cell {
    border: none;
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    margin: 0.15em 0;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-transform: lowercase;
    border-radius: 5px;
}

#boggle-panel {
    font-size: 1em;
    font-family: Helvetica;
    color: #333;
    padding: 1em;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #666;
    display: inline-block;
}



#words-panel {
    display: block;
    font-size: 1em;
    font-family: Helvetica;
    color: #333;
    display: inline-block;
    padding: 1em;
    margin: 1em;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #666;
}

#num-words {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.word-list {
    text-align: left;
    list-style-type: none;
    padding: 0;
    font-size:1.2em;
    line-height: 2em;
}

#word-list {
    margin-top: 2em;
    font-family: sans-serif;
}

#word-list h2 {
    color: gray;
}

#word-list li {
    float: left;
    width: 9em;
}

#controls {
    margin: 0.5em auto;
    display: block;
    padding-bottom: 1em;
    font-size: 81%;
}

#controls input[type="number"] {
    border-radius: 5px;
    font-family: Helvetica;
    font-size: 1em;
    width: 2em;
}

.modal {
    display:    none;
    position:   absolute;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('FhHRx.gif')
                50% 50%
                no-repeat;
}

body {
    position: relative;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.dict {
    color: #0000cc;
}

.dict:hover, .dict:active {
    color: #aaaadd;
}

#dict {
    position: absolute;
    left: 1em;
    top: 50%;
    display:none;
    background: lightgray;
    padding: 0.5em 1em;
    margin: 0.5em;
    border: 2px solid red;
    -webkit-backface-visibility: hidden;
}

#boggle-area {
    font-size: 1.5em;
    width: 9em;
    margin:auto;
}
